<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table class="table table-inverse table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= link_to 'Show', company , class: "btn-primary btn text-white"%></td>
        <td><%= link_to 'Edit', edit_company_path(company), class: "btn-primary btn text-white" %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-warning btn text-white" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path, class: "btn-primary btn text-white" %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Upload Data
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <%= form_tag( upload_sheet_companies_path, method: :post , remote: true, multipart: true) do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select File</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <%= file_field_tag "file" %>
           <%= select_tag :id, options_for_select(@companies.map{|c| [c.name, c.id]}), include_blank: "Select Company" %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= submit_tag "Upload File", class: "btn btn-primary"%>
        </div>
      </div>
    <% end %>>
    
  </div>
</div>